# docker-compose.yml

version: '3.8'
services:

  postgres:
    image: postgres:13.5
    restart: always
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=jadwal-db
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - '5436:5432'

volumes:
  postgres:

